In [15]:
from sklearn.feature_selection import VarianceThreshold

#Remove corelated columns
#Notice that the first and fourth values in the below 3 records are the same which were removed.
X = [[0, 2, 0, 3], [0, 1, 4, 3], [0, 1, 1, 3]]
selector = VarianceThreshold()
selector.fit_transform(X)

array([[2, 0],
       [1, 4],
       [1, 1]])

In [23]:
#Remove columns that have same values for all rows
import pandas as pd
df = pd.read_csv(r"https://github.com/xanksx/public/raw/master/data/Identify%20Corelated%20and%200%20Std%20Deviation%20Columns.csv")
df

   index   id   name  value  value2  value3  data1  val5
0      0  345  name1      1      99      23      3    66
1      1   12  name2      1      99      23      2    66
2      5    2  name6      1      99      23      7    66

In [40]:
#Remove columns that have same values for all rows
df_clean = df.drop(df.std()[(df.std() == 0)].index, axis=1)
df_clean

   index   id   name  data1
0      0  345  name1      3
1      1   12  name2      2
2      5    2  name6      7

In [43]:
# Now list the columns that have the same values for all rows
df.columns.difference(df.drop(df.std()[(df.std() == 0)].index, axis=1).columns)

Index(['val5', 'value', 'value2', 'value3'], dtype='object')

In [39]:
#Compare column differences between 2 dataframes.
df.columns.difference(df_clean.columns)

Index(['val5', 'value', 'value2', 'value3'], dtype='object')